{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block body %}
<style>
    .text_primary { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; background-color: #fff ; text-align: center; }
</style>

<header>
<div class="text_primary">
    <h1>Bonjour !</h1>
    </br>
    <img src="profile.png" width=300px height=300px >
    </br>

  <h8><strong>My name is Evan Léon-Persol</strong>, I am <strong> 18 years old </strong> and I am originally from <strong>Saint-Etienne</strong>.</h8>
  </br>
  <h8> I am student in <strong>B</strong>achelor <strong>U</strong>niversitaire et <strong>T</strong>echnologique in the sector <strong>R</strong>éseaux et <strong>T</strong>élécommunication</h8>
  </br>
  <h8>I'd like to move on to cybersecurity</h8>
  </br>
  <h8>Here are some links to my social networks :</h8>

</div>
</header>
<footer>
  <li> <a href= "https://www.instagram.com/_3vannnnnnn_/">Instagram </a></li>
  <li> <a>Email pro : evanchezlui42@gmail.com </a></li>
  <p>&copy; 2024. Evan Léon-Persol. Tout droits réservés.</p>
</footer>
{% endblock %}