{% extends 'base2.html.twig' %}

{% block title %}Portfolio{% endblock %}


{% block body %}

<h2> Portfolio </h2>
</br>

<div class="container">
    <h6>Maîtriser les lois fondamentales de l’électricité afin d’intervenir sur des équipements de réseaux et télécommunications</h6>
    <div class="progress mb-3">
    <div class="progress-bar progress-bar-striped progress-bar-animated w-75 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>

</div>

<div class="container">
    <h6> Comprendre les principes et standards du codage de l’information</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-75 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Configurer les fonctions de base du réseau local</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6> Maîtriser les rôles et les principes fondamentaux des systèmes d’exploitation afin d’interagir avec ceux-ci pour la configuration et
administration des réseaux et services fournis </h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-75 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Savoir identifier les dysfonctionnements du réseau local</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Installer un poste client</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-75 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6> Mesurer et analyser les signaux</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-50 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Caractériser des systèmes de transmissions élémentaires et découvrir la modélisation mathématique de leur fonctionnement</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-50 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Déployer des supports de transmission</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Connecter les systèmes de ToIP</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-50 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Communiquer avec un client ou un collaborateur</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-75 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Utiliser un système informatique et ses outils</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-75 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Lire, exécuter, corriger et modifier un programme</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-75 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Traduire un algorithme, dans un langage et pour un environnement donné</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Connaître l’architecture et les technologies d’un site Web</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>Choisir les mécanismes de gestion de données adaptés au développement de l’outil</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-50 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>

<div class="container">
    <h6>S’intégrer dans un environnement propice au développement et au travail collaboratif</h6>
    <div class="progress mb-3">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-75 bg-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
</div>
</br>
<p>&copy; 2024. Evan Léon-Persol. Tout droits réservés.</p>

{% endblock %}
