{% extends 'base2.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}
<header>
<div class="text_primary">
    <h1>Vous Etes Encore Là ?</h1>
    </br>
    </br>
  <h2>Ma présentation</h2>

<p> Je m'appelle Evan Léon-Persol et sur cette page je vais vous détaillé mes passions, activité, loisirs et ambition</p>
</br>
<h3> <strong> Mes Passions </strong> </h3>
</br>
<h4> <strong> La Musculation </strong> </h4>
</br>
<img src="muscul.png" width=300px height=300px >
</br>
</br>
<p> la musculation me permet de me defouler afin d'etre moins stressé au quotidien et entrainer mon mental au pire.</p>
</br>
</br>
<h4> <strong> La cybersécurité </strong> </h4>
</br>
<img src="cybersecurite.png" width=360px height=879px >
</br>
</br>
<p>La cybersecurite est un sujet pour moi qui est important car j'adore devoir résoudre des problemes et aussi apprendre le danger de internet</p>
</br>
</br>
<h4> <strong> Mes Ambitions </strong> </h4>
</br>
<img src="pentester.jpg" width=300px height= auto >
</br>
</br>
<p>J'aimerai devenir plus tard Pentester dis aussi Hacker Ethical, je suis intéressé par ce métier depuis 4 ans. </p>
<p>Ce métier m'interesse pour les fonctions qu'il propose, le fait de pouvoir se mettre dans la peau d'un blackhat (Attaquant) sans l'être vraiment me fascine</p>

</br>
<p>&copy; 2024. Evan Léon-Persol. Tout droits réservés.</p>

{% endblock %}